*{
    margin: 0%;
}


body {
    margin: 0%;
    padding: 0%;

}

div.banner > img {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    background-size: cover;
    position: absolute;
   
}

div.vidro {
    background-color: rgba(97, 90, 90, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0 20px 20px rgb(0, 0, 0, );
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate3d(35%, 35%, 0 );
    width: 60%;
    height: 60%;
    
}

div.usuario {
    color: white;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 10px;
}

div.usuario > input {
    background-color: rgba(17, 15, 15, 0.678);
    border-style: none;
    border-radius: 5px;
    padding: 5%;
    padding-right: 40px;
    margin-bottom: 20px;

}

div.senha > input {
    background-color: rgba(17, 15, 15, 0.678);
    border-style: none;
    border-radius: 5px;
    padding: 5%;
    padding-right: 40px;
}


input::placeholder {
    color: white;
    
}

input {
    color: white;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
 }
 input:focus:-moz-placeholder { 
    color: transparent;  
 }
 input:focus::-moz-placeholder {  
    color: transparent;  
 }
 input:focus:-ms-input-placeholder {  
    color: transparent;  
 }